/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@100;400&display=swap');

.button{

}

.rsvpFooterContainer{
  padding: 20px;
  background-color: #F7F3F1;
  font-family: 'Montserrat', sans-serif;
}

.rsvpfooterHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 10px;
}

.rsvpfooterText{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.rsvpfooterButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footerContainer{
  display: flex;
  padding: 10px;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;

}

.footerShare{
  flex:5px;
  font-size:10px;
  margin-top: 10;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.invitationContainer{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding-bottom:170px;  
}

.linksContainer{
  font-size:10px;
}

.locationContainer{
  display: flex;
  margin-top: 20px;
}

.locationContainer{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.mapContainer{
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 40px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  padding-bottom:130px;  

}

.locationMap{
  margin-left: 70px;
}

.map{
  width: 130%;
  height: 130%;
  background-color: aliceblue;
}

.locationDetailsText{
  margin-left:10px;
  font-size:12px;
  display:flex;
  justify-content:center;
  font-weight:100px;
  margin-top:4px
}

.rsvpContainer{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;

}

.rsvpPage{
  margin-top: 30px;
}

